---
import { getCollection } from 'astro:content';

import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

const talks = (await getCollection('talks')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const subTitle = SITE_TITLE + ' | inspring talks';
const subDescription = 'talks';
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={subTitle} description={subDescription} />
    <style>
      .main {
        width: 960px;
      }

      .talks-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      .talk-item {
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        display: flex;
        gap: 20px;
        border: 1px solid rgb(var(--gray));
      }

      .talk-item:hover {
        box-shadow: var(--box-shadow);
      }

      .talk-thumbnail {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }

      .talk-title {
        color: rgb(var(--black));
        font-size: 24px;
      }

      .talk-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 20px;
      }

      .talk-title-description-group {
        flex-grow: 1;
        width: 200px;
      }

      .talk-date {
        color: rgb(var(--gray));
      }

      .talk-date-speaker-group {
        display: flex;
        flex-direction: column;
        width: 140px;
      }

      .talk-speaker {
        line-height: 1;
      }
    </style>
  </head>
  <body>
    <Header />
    <main class='main'>
      <section class='talks-section'>
        <ul class='talks-list'>
          {
            talks.map((talk) => (
              <li class='talk-item'>
                <a class='talk-link' href={`/talks/${talk.slug}/`}>
                  <img
                    class='talk-thumbnail'
                    width='200px'
                    height='100px'
                    src={talk.data.thumbnail}
                    alt={talk.data.alt}
                  />
                </a>
                <div class='talk-title-description-group'>
                  <h4 class='talk-title'>{talk.data.title}</h4>
                  <div class='talk-description'>{talk.data.description}</div>
                </div>
                <div class='talk-date-speaker-group'>
                  <FormattedDate date={talk.data.pubDate} />
                  <span class='talk-speaker'>{talk.data.speaker}</span>
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
