---
import type { CollectionEntry } from 'astro:content';

import type { ContentKeys } from '../model/model';
import FormattedDate from './FormattedDate.astro';

interface Props {
  readonly blog: CollectionEntry<ContentKeys>;
}

const { blog } = Astro.props;
---

<div class='title-description-group'>
  <a class='link' href={`/${blog.collection}/${blog.slug}/`}>
    <h2 class='title'>{blog.data.title}</h2>
  </a>
  <div class='description'>{blog.data.description}</div>
</div>
<div class='date-speaker-group'>
  <FormattedDate class:list={['date']} date={blog.data.pubDate} />
  <span class='speaker'>{blog.data.speaker}</span>
</div>

<style>
  .title-description-group {
    flex-grow: 1;
    width: 200px;
  }

  .link {
    text-decoration: none;
  }

  .title {
    color: rgb(var(--black));
    font-size: 24px;
  }

  .title:hover {
    color: rgb(var(--gray));
  }

  .description {
    overflow: hidden;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .date {
    color: rgb(var(--gray));
  }

  .date-speaker-group {
    display: flex;
    flex-direction: column;
    width: 140px;
  }

  .speaker {
    line-height: 1;
  }
</style>
