---
import { capitalizeFirstLetter } from '../helpers/helper';
import type { Tag } from '../model/model';

interface Props {
  readonly basePath: string;
  readonly tags: readonly Tag[];
  readonly currentTag?: string;
}

const { tags, currentTag, basePath } = Astro.props;
---

<div class='tag-list'>
  <div class:list={['chip', { active: currentTag === 'view-all' }]}>
    <a class='tag-link' href={basePath}>View all</a>
  </div>
  {
    tags.map((t) => (
      <div class:list={['chip', { active: currentTag === t.tag }]}>
        <a class='tag-link' href={`${basePath}/tags/${t.tag}`}>
          {capitalizeFirstLetter(t.tag)} ({t.count})
        </a>
      </div>
    ))
  }
</div>

<style>
  .tag-list {
    display: flex;
    padding-left: 0;
    gap: 5px;
    font-size: 16px;
    flex-wrap: wrap;
  }

  .chip {
    background-color: rgb(var(--gray-dark));
    opacity: 0.5;
    padding: 5px 10px;
    border-radius: 50px;
  }

  .chip a {
    color: var(--white);
  }

  .chip:hover {
    opacity: 0.7;
  }
  .tag-link {
    text-decoration: none;
    color: black;
  }
  .active {
    opacity: 1;
  }

  .tag-link:hover {
    color: var(--accent);
  }
</style>
