---
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Layout from '../../layouts/Layout.astro';
import { sortDate } from '../../helpers/helper';

const subTitle = SITE_TITLE + ' | glossary';
const subDescription = `${SITE_DESCRIPTION} | glossary`;

const glossaries = (await getCollection('glossary')).sort(sortDate);
---

<Layout title={subTitle} description={subDescription}>
  <main class='main'>
    <div class='aside-left'>
      <ul>
        {
          glossaries.map((glossary) => (
            <li>
              <a href={`glossary/${glossary.slug}`}> {glossary.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <section class='section'>
      <h1>Sign Language Tech</h1>
      <p>tbd</p>
    </section>
    <aside class='aside-right'></aside>
  </main>
</Layout>

<style>
  .main {
    display: flex;
    gap: 40px;
  }

  .yt-shorts-frame {
    border-radius: 10px;
  }

  .aside-right {
    width: 220;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .section {
    width: 700px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: var(--accent);
  }

  @media (max-width: 720px) {
    .main {
      flex-direction: column;
    }
  }
</style>
